{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>EXAMEN</title>
</head>
<body>
<form method="post" >
    {% csrf_token %}
<div style="position: absolute;left:240px;top:30px">
<p><strong><img src="https://lh4.googleusercontent.com/NAItcvooopAlHeipvhoGKUx07K6tFolqWNziI1Hdu1mp2SeRBkRCUfBzfYO-zNc2RWKlOAkk23QBmcNLEy0Uo9chx_1WU8dGU65MJluQVmP-bT8GWAfmmF04iRza4XzoZpti4fYo" style="height:48px; width:410px" /></strong></p>
</div>
<p>&nbsp;</p>

<div style="position: absolute;left: 100px;top:100px;width:810px">

    <div style="width:810px;border: 3px solid;">
        <div class="row">
            <div class="col-md-6">
                <p><strong>Fecha:</strong></p>
            </div>
            <div class="col-md-6">
                <p><strong>Turno:</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
               <strong> Asignatura:</strong>
                    {% if materia %}
                        {{materia.Descripcion}}
                <input type="hidden" name="materia_id"  value="{{materia.id}}" >
                    {% else %}

                    <select class="form-control input-sm" name="materia_id" style="display: inline-block;width: fit-content;">
                        {%for materia in materias %}
                        <option value="{{ materia.id}}"> {{ materia.Descripcion }}</option>
                        {% endfor %}
                    </select>
                    {%endif%}

            </div>
            <div class="col-md-6">
                <p><strong>Profesor:</strong> Ing. Rodrigo Durán </p>
            </div>


        </div>

        <div class="row">
            <div class="col-md-6">
                <p><strong>Email:</strong></p>
            </div>
            <div class="col-md-6">
                <p><strong>Legajo:</strong></p>
            </div>
        </div>


        <p><strong>Instancia: 1er parcial&nbsp;<img
                src="https://docs.google.com/drawings/u/0/d/sD0MxNF-DLWMD_24EQyfsqQ/image?w=20&amp;h=23&amp;rev=1&amp;ac=1&amp;parent=1XjSXP25GNXy5x2X3XEKIhMKsoq_h5g5xZnkjmmWEcIs"
                style="height:23px; width:20px"/>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
            2do parcial&nbsp;<img
                    src="https://docs.google.com/drawings/u/0/d/sd_fkYmxAr1QmXvtTJKu6Kg/image?w=20&amp;h=23&amp;rev=1&amp;ac=1&amp;parent=1XjSXP25GNXy5x2X3XEKIhMKsoq_h5g5xZnkjmmWEcIs"
                    style="height:23px; width:20px"/>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
            &nbsp;
            Final&nbsp;&nbsp;<img
                    src="https://docs.google.com/drawings/u/0/d/s4MuE2Y7xWcbI1eLTNKHbJQ/image?w=20&amp;h=23&amp;rev=1&amp;ac=1&amp;parent=1XjSXP25GNXy5x2X3XEKIhMKsoq_h5g5xZnkjmmWEcIs"
                    style="height:23px; width:20px"/></strong></p>

    </div>

<div class="row">
    <div class="col-md-12">
        <p><strong>Cantidad de preguntas:</strong><input style="display: inline;width:80px;" class="form-control"  type="number" name="cantidad" value={{cantidad}} /></p>
        {% if materia %}
        <p><strong>Responda las siguientes preguntas</strong> <input type="submit" value="refrescar" style="display: inline-block;"></p>
        {% else %}
            <p><strong style="color:red"> seleccione una asignatura&nbsp;</strong></p>
            <input type="submit" value="Comenzar" style="display: inline-block;">
        {% endif %}

    </div>

</div>

    <div class="row">
        <div class="col-md-12" style="top:30px;">

            <ol>
                {% for pregunta in preguntas %}
                <li style="margin: 10px 0;" >
                    {{pregunta.Descripcion|safe }}
                </li>
                {% endfor %}
            </ol>

        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</div>
</form>
</body>
</html>